.accordion {
  .card {
    padding-bottom: 0;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    .card-header {
      padding: 0 20px;
      button {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        &::after {
          content: "expand_less";
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          position: absolute;
          top: 10px;
          right: 0;
          color: $black;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          box-shadow: none;
          text-decoration: none;
        }
        &.collapsed {
          &::after {
            content: "expand_more";
          }
        }
        span {
          font-size: 14px;
          color: #666666;
        }
      }
    }
    .card-body {
      color: #666666;
      font-size: 16px;
      line-height: 28px;
    }
  }
}