.btn {
  font-weight: 600;
  .material-icons {
    vertical-align: middle;
    margin-right: 8px;
  }
  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    color: $secondary;
  }
  &.btn-warning {
    color: $white;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}