.footer {
  padding: 80px 0 0 0;
  background-color: #333333;
  .footer-menu {
    h3 {
      font-family: 'Montserrat', sans-serif;
      text-transform: capitalize;
      color: $white;
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 600;
      position: relative;
      padding-bottom: 15px;
      &::after {
        content: "";
        width: 60px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    ul {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 12px;
        a {
          color: #898989;;
          font-size: 14px;
          color: #CCCCCC;
          text-decoration: none;
        }
      }
    }
  }
  .copy-right {
    text-align: center;
    background-color: $black;
    padding: 25px 0;
    p {
      color: $white;
      margin-bottom: 0;
      font-size: 13px;
    }
  }
}