.login-form {
  padding-top: 20px;
  padding-bottom: 20px;
  h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  span {
    font-size: 12px;
    color: #666666;
  }
  a {
    font-size: 12px;
    color: #666666;
  }
  p {
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    a {
      color: $info;
    }
  }
  .form-group {
    margin-bottom: 20px;
    position: relative;
    .form-text {
      font-size: 12px;
      color: #000000;
      font-family: 'Open Sans', sans-serif;
      margin-left: 10px;
    }
    .show-pass {
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 14px;
      right: 30px;
      z-index: 1;
      cursor: pointer;
      &::before {
        content: "visibility_off";
        font-family: 'Material Icons Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        color: $primary;
      }
      &.show {
        &::before {
          content: "visibility";
        }
      }
    }
  }
  .form-control {
    height: 52px;
    background-color: #EBEBEE;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    &::-webkit-input-placeholder { /* Edge */
      color: #333333;
      font-size: 14px;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #333333;
      font-size: 14px;
    }

    &::placeholder {
      color: #333333;
      font-size: 14px;
    }
  }
  .btn {
    text-transform: uppercase;
    border-radius: 4px;
  }
}