.modal {
  .modal-dialog {
    &.radius-less {
      .modal-content {
        border-radius: 0;
      }
    }
    &.modal-sm {
      max-width: 320px;
    }
  }
  &.chat-modal {
    .modal-dialog {
      max-width: 600px;
      margin: 100px .5rem .5rem auto;
      .modal-content {
        height: calc(100vh - 106px);
        .modal-header {
          background-color: $primary;
          padding-top: 8px;
          padding-bottom: 8px;
          border-bottom: none;
          h5 {
            color: $white;
            font-weight: 700;
            vertical-align: middle;
            line-height: 20px;
            .material-icons-outlined {
              vertical-align: middle;
              font-size: 18px;
              margin-right: 8px;
            }
          }
          .close {
            color: $white;
            text-shadow: none;
            opacity: 1;
          }
        }
        .modal-body {
          padding: 0;
          .bar-nav {
            background-color: $danger;
            padding-left: 15px;
            padding-right: 15px;
          }
          .nav {
            &.nav-tabs {
              .nav-item {
                width: inherit;
                max-width: inherit;
                .nav-link {
                  font-size: 14px;
                  padding: 0 10px;
                  font-family: 'Open Sans', sans-serif;
                  color: $white;
                  background-color: transparent;
                  &.active {
                    border-color: $white;
                  }
                }
              }
            }
          }
          .tab-content {
            padding: 15px;
            .chat-list-participant {
              height: calc(100vh - 232px);
              overflow-y: auto;
              overflow-x: hidden;
              margin-right: -15px;
              ul {
                list-style: none;
                padding-left: 0;
                li {
                  padding: 10px 10px 10px 0px;
                  border-bottom: 1px solid #cecece;
                  position: relative;
                  &::after {
                    content: "";
                    width: 58px;
                    height: 4px;
                    background-color: $white;
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                  }
                  &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background-color: #8a8a8a;
                    position: absolute;
                    left: 38px;
                    bottom: 5px;
                    z-index: 1;
                    border: 2px solid $white;
                  }
                  &.active {
                    &::before {
                      background-color: #06C671;
                    }
                  }
                  .attr {
                    position: absolute;
                    top: 0;
                    right: 20px;
                    text-align: right;
                    p {
                      margin-bottom: 0;
                      letter-spacing: 0px;
                      color: #99091C;
                    }
                    .total-chat {
                      font-size: 12px;
                      color: $white;
                      width: 22px;
                      height: 22px;
                      line-height: 22px;
                      text-align: center;
                      border-radius: 200px;
                      background-color: #00D55B;
                      display: inline-block;
                      margin-top: 8px;
                    }
                  }
                }
              }
              .pict {
                float: left;
                margin-right: 10px;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                overflow: hidden;
                background-color: #EBEBEE;
                position: relative;
                img {
                  max-width: 100%;
                }
              }
              .desc {
                overflow: hidden;
                h3 {
                  font-size: 16px;
                  font-weight: 700;
                  color: #000000;
                  margin-bottom: 0;
                }
                span {
                  font-size: 14px;
                  color: #888888;
                  font-weight: 600;
                  font-family: 'Open Sans', sans-serif;
                }
              }
            }
            .chat-list {
              height: calc(100vh - 303px);
              overflow-y: auto;
              overflow-x: hidden;
              ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                li {
                  display: block;
                  width: 100%;
                  padding-bottom: 30px;
                  margin-bottom: 15px;
                }
              }
            }
            .chat-wrapp {
              position: relative;
              padding-left: 62px;
              .pict {
                width: 48px;
                height: 48px;
                position: relative;
                position: absolute;
                left: 0;
                bottom: 0;
                &::after {
                  content: "";
                  width: 12px;
                  height: 12px;
                  border-radius: 100%;
                  border: 2px solid $white;
                  background-color: #cccccc;
                  position: absolute;
                  right: -1px;
                  bottom: -1px;
                }
                &.online {
                  &::after {
                    content: "";
                    background-color: $success;
                  }
                }
                .pict-wrapp {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                  overflow: hidden;
                  img {
                    max-width: 100%;
                  }
                }
              }
              .chat-text {
                position: relative;
                max-width: 440px;
                display: inline-block;
                background-color: #E6E6E6;
                border-radius: 4px;
                font-size: 14px;
                color: $black;
                padding: 12px 20px;
                letter-spacing: 0px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                .attr {
                  letter-spacing: 0.3px;
                  font-size: 12px;
                  position: absolute;
                  left: 0;
                  bottom: -24px;
                  font-weight: 700;
                }
              }
              &.is-user {
                padding-left: inherit;
                padding-right: 62px;
                text-align: right;
                .pict {
                  left: initial;
                  right: 0;
                }
                .chat-text {
                  color: $white;
                  background-color: $primary;
                  text-align: left;
                  .attr {
                    color: $black;
                    left: initial;
                    right: 0;
                  }
                }
              }
            }
          }
        }
        .modal-footer {
          .form-inline {
            width: 100%;
            .form-control {
              width: 100%;
              max-width: 520px;
              margin-right: 12px;
              border-color: #CCCCCC;
              background-color: #F5F5F8;
            }
          }
        }
      }
    }
  }
  &.modal-detail {
    .modal-dialog {
      width: 100%;
      max-width: 970px;
      .modal-content {
        .modal-header {
          position: relative;
          display: flex;
          justify-content: unset;
          .pict {
            width: 144px;
            height: 144px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 15px;
            img {
              max-width: 100%;
            }
          }
          .desc {
            h5 {
              font-size: 24px;
              line-height: 29px;
              letter-spacing: 0px;
              color: #000000;
              padding-top: 30px;
            }
            p {
              margin-bottom: 0;
              letter-spacing: 0px;
              color: #888888;
              font-family: 'Open Sans', sans-serif;
            }
          }
          .close {
            position: absolute;
            top: 0;
            right: 0;
            color: $primary;
            opacity: 1;
          }
        }
        .modal-body {
          padding-top: 0;
          padding-bottom: 0;
          h4 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0px;
            color: #000000;
          }
          .content-about {
            padding-top: 15px;
            padding-bottom: 15px;
            .card  {
              border: 1px solid #dee2e6;
              border-radius: 0;
            }
            &.side {
              border-left: 1px solid #dee2e6;
              padding-left: 15px;
              height: 100%;
              .btn-link {
                color: #000000;
                text-decoration: none;
                font-size: 14px;
                padding: 5px 0 5px 30px;
                text-align: left;
                position: relative;
                span {
                  vertical-align: middle;
                  font-size: 20px;
                  position: absolute;
                  top: 4px;
                  left: 0;
                }
              }
            }
            &.list-product {
              border-top: 1px solid #dee2e6;
              .card {
                .card-body {
                  background-color: $white;
                  h5 {
                    font-size: 18px;
                  }
                  a {
                    font-size: 12px;
                    letter-spacing: 0.12px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        .modal-footer {
          justify-content: center;
          a {
            display: inline-block;
            color: $black;
            span {
              vertical-align: middle;
              color: $primary;
            }
          }
        }
      }
    }
  }
}