.sponsored-list {
  background-color: $white;
  box-shadow: 0px -1px 2px #00000029;
  position: fixed;
  width: 100%;
  height: 39px;
  left: 0;
  bottom: 0;
  z-index: 99;
  .bar-nav {
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
    .container {
      position: relative;
    }
    h3 {
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 0;
    }
    .expand {
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 15px;
      .closed {
        display: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.open {
    height: auto;
    .expand {
      .opened {
        display: none;
      }
      .closed {
        display: block;
      }
    }
  }
  .sponsored {
    padding: 20px 0;
    .slick-slide {
      padding: 0 10px;
    }
    .slick-prev {
      left: initial;
      right: 70px;
    }
    .slick-next {
      right: 50px;
    }
    .slick-prev, .slick-next {
      top: -19px;
    }
    .slick-dots {
      bottom: initial;
      width: auto;
      right: 70px;
      top: -38px;
      li {
        margin: 0;
        button {
          padding: 0;
          width: 15px;
          height: 15px;
          margin: 0;
          &::before {
            font-size: 10px;
            width: 15px;
            height: 15px;
          }
          &:hover {
            &::before {
              color: $primary;
            }
          }
        }
        &.slick-active {
          button {
            &:before {
              color: $primary;
            }
          }
        }
      }
    }
  }
}