.nav {
  &.nav-tabs {
    .nav-item {
      width: 100%;
      max-width: 270px;
      .nav-link {
        text-align: center;
        font-size: 24px;
        line-height: 48px;
        font-weight: 600;
        padding: 10px 40px;
        color: #030F27;
        border-bottom: 2px solid transparent;
        border: none;
        span {
          display: block;
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
          color: #999999;
        }
        &.active {
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}
.bar-nav {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 20px;
  .nav {
    &.nav-tabs {
      .nav-item {
        .nav-link {
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 700;
          color: #666666;
          &.active {
            border-bottom: 3px solid $primary;
            color: $primary;
          }
        }
      }
    }
  }
}