{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="landingpage">
	<div class="jumbotron">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>Capital Gains and Non-Resident Beneficiaries - There is an Exception to Every Rule</h1>
					<p>Exploring exceptions to the general rule that non-residents are not taxed on capital gains that relate to non-taxable Australian property</p>
					<button class="btn btn-primary">RESERVE MY SEAT</button>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg py-0">
		<div class="container">
			<div class="count-down">
				<div class="desc">
					<h2>Until Event Start</h2>
					<p>Time Remaining</p>
				</div>
				<div class="time-ramaning">
					<div id="eventCountDown" class="mb-0"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="section pt-6 pb-3" id="about">
		<div class="container">
			<div class="row px-4">
				<div class="col-md-1">
					<img src="./dist/images/logo-tn.png" alt="logo" />
				</div>
				<div class="col-md-11">
					<div class="event-wrapp">
						<div class="event">
							<p class="text-primary text-title">Capital Gains and Non-Resident Beneficiaries - There is an Exception to Every Rule</p>
						</div>
						<div class="event">
							<p>Exploring exceptions to the general rule that non-residents are not taxed on capital gains that relate to non-taxable Australian property</p>
						</div>
						<div class="event">
							<p class="date">Thursday 7th April 2022</p>
						</div>
						<div class="event">
							<p class="address">Vic, NSW, Qld, ACT, Tas: <b>1.30pm to 2.30pm</b></p>
							<p class="address">SA & NT:  1pm to 2pm <b>1pm to 2pm</b></p>
							<p class="address">WA: <b>11.30am to 12.30pm </b></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg">
		<div class="container">
			<div class="title">
				<h2>About Webinar</h2>
			</div>
			<div class="about">
				<div class="about-content">
					<h3>About the Webinar</h3>
					<p>It could be said that a general rule is that non-residents are not taxed on capital gains that relate to non taxable Australian property. However, the Greensill case throws up an exception when that gain flows to the non-resident from a resident discretionary trust. This session explains the key issues, including:</p>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li>Capital gains under Div. 855 ITAA 1997 in relation to:
									<ul>
										<li>fixed trusts</li>
										<li>discretionary trusts</li>
									</ul>
								</li>
								<li>Is the source concept relevant (TD 2019/D7)?</li>
								<li>What situations do not attract CGT event E5 when a beneficiary becomes absolutely entitled to a CGT asset of a trust?</li>
								<li>Are double tax agreements relevant in these scenarios?</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li>2021-22 federal budget proposal for residency rules – what is the impact?</li>
								<li>What situation is the trustee assessed under sec. 98 ITAA 1936?</li>
								<li>A review of Peter Greensill Family Co Pty Ltd (trustee) v Commissioner of Taxation [2020] FCA 559</li>
								<li>Practical examples</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="about-content">
					<h3>Who Should Attend?</h3>
					<p>This webinar is suitable for accountants and lawyers advising in taxation matters – Australia wide. This webinar is for practitioners with some knowledge in this area and looking to improve their knowledge.</p>
				</div>
				<div class="about-content">
					<h3>CPD Certificate</h3>
					<p>Registered live webinar delegates will receive a CPD certificate for attendance at this webinar.  Accountants can claim up to 1 CPD/Training hour.  Lawyers can claim up to 1 CPD unit/point – substantive law.  This webinar has been designed to run for 1 hour, however, webinar lengths can vary depending on the level of questions and discussion.</p>
				</div>
				<div class="about-content">
					<h3>Enquiries/Assistance</h3>
					<p>If you need assistance or have an enquiry, please do not hesitate to contact our Webinar Coordinator, Lisa Tran on (03) 8601 7709 or email: lisa@tved.net.au</p>
				</div>
				<div class="about-content">
					<h3>About TEN Webinars</h3>
					<p>Attending a TEN webinar couldn’t be easier. Basically it’s just like attending a seminar except that you don’t have to leave the comfort of your office or home. You just need to be available at the appointed date and time with your computer and internet connection.</p>
					<p>Once you’ve registered for the webinar, we send you a link so that you can login to the webinar from your computer. The speaker delivers the session from their computer in real time. Just like a live seminar, you can ask questions of the speaker. You simply type your question into the question box and the speaker responds to it during question time.</p>
					<p>At the end of the webinar session we send you a certificate to confirm your attendance and the number of CPD hours you earned.</p>
				</div>
				<div class="about-content">
					<h3>Technical Requirements</h3>
					<p class="require">You will need a computer with sound, an internet connection and earphones if you need to participate in the webinar in an open office environment (so you don’t disrupt those around you).</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="speakers">
		<div class="container">
			<div class="title">
				<h2>Speakers</h2>
			</div>
			<div class="about">
				<div class="row">
					<div class="col-md-4">
						<div class="card season speaker">
							<div class="pict">
								<img src="./dist/images/speaker.png" class="card-img-top" alt="season">
							</div>
							<div class="card-body">
								<div class="desc text-center">
									<h5>David Knowles</h5>
									<span>Partner, Johnson Winyer & Slattery, Sydney</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="about-content">
							<h3>About the Speaker</h3>
							<p>Andy specialises in all aspects of taxation and revenue law related issues, as well as superannuation and trust law. In the real property sphere, Andy has advised on a range of property investments and property developments, incorporated and unincorporated joint ventures, land subdivision projects and project development agreements.</p>
							<p>Andy has acted for clients in respect of private ruling applications and their tax disputes with both the ATO and the State Revenue Offices in respect of income tax, GST, stamp duty, land tax matters.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg" id="resources">
		<div class="container">
			<div class="title">
				<h2 class="text-uppercase">Resources</h2>
			</div>
			<div class="about">
				<ul class="resources">
					<li>
						<div class="row">
							<div class="col-md-8">
								<h3>Print - An Exception to Every Rule: Capital Gains and Non-Resident Beneficiaries (pdf)</h3>
								<p>Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
							</div>
							<div class="col-md-4">
								<a onclick="window.open('https://drive.google.com/file/d/1piq5zxOo6WtEbJuIZb3p0B-IhHw4C6_h/view?usp=sharing');" class="btn btn-lg btn-info">
									<span class="material-icons-outlined">picture_as_pdf</span>
									Download Resources
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-8">
								<h3>Presentation - An Exception to Every Rule: Capital Gains and Non-Resident Beneficiaries (ppt)</h3>
								<p>Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
							</div>
							<div class="col-md-4">
								<a onclick="window.open('https://drive.google.com/file/d/1EJXRITvapRSuW8XNc8rXY7gDOmguHFmw/view?usp=sharing');" class="btn btn-lg btn-info">
									<span class="material-icons-outlined">slideshow</span>
									Download Resources
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section bg" id="events">
		<div class="container">
			<div class="title">
				<h2>Future Events</h2>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/pict1.jpg" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>David Knowles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-2.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/pict2.jpg" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>David Knowles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-3.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/joshep.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Joseph</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-4.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/marco.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Marco camp</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-5.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/seth.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Jhon Seth</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-6.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/annie.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Annie Leonheart</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-7.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/tylor.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Tylor Smith</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-5.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/ferro.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Ferro Miles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<!-- <div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="sponsored-list open">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div> -->




{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}