<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" http-equiv="content-type">
		<link rel="icon" href="/favicon.ico" />
		<title>Redback</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./dist/js/slick/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="./dist/js/slick/slick/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="./dist/css/style.css">

	</head>
	<body>
		<div class="content-area">
			<!-- header area -->
			{% include "components/header.html" %}
			{% block content %}{% endblock %}
			{% include "components/footer.html" %}
		</div>
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="./dist/js/main.min.js"></script>
		<script src="./dist/js/slick/slick/slick.min.js"></script>
		{% block script %}{% endblock %}
		<script src="./dist/js/custom.js"></script>
	</body>
</html>