.agenda {
	padding-top: 96px;
	 background-color: $bg-section;
	h1 {
		position: relative;
		z-index: 1;
	}

	.jumbotron {
		min-height: inherit;
		height: 288px;
		padding: 0;
		background-position: center;
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(90deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.4;
		}
		h1 {
			text-transform: capitalize;
			font-weight: 700;
		}
	}
	.title {
		margin-bottom: 40px;
		h2 {
			text-transform: capitalize;
		}
	}
	.event-agenda {
		border: 1px solid #dee2e6;
	}
}

.time-zone {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: $white;
	background-color: #333333;
	padding: 10px 0;
}
