.exhibition {
	padding-top: 96px;
	h1 {
		position: relative;
		z-index: 1;
	}

	.jumbotron {
		min-height: inherit;
		height: 288px;
		padding: 0;
		background-position: center;
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(90deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.4;
		}
		h1 {
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

.time-zone {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: $white;
	background-color: #333333;
	padding: 10px 0;
}

.title-md {
	h2 {
		font-size: 30px;
		line-height: 37px;
		text-transform: uppercase;
	}
}

.featured-content {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -15px;
	margin-right: -15px;
	div[class^="col-"] {
		flex: 0 0 20%;
    	max-width: 20%;
	}
	&.bg {
		background-color: $primary;
		padding-left: 30px;
		padding-right: 30px;
	}
	.card {
		border-radius: 0;
	}
}
.featured{
	border: 1px solid #EBEBEE;
	.pict {
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #EBEBEE;
	}
	.card-body {
		padding: 15px;
		.desc {
			h5 {
				font-size: 16px;
				font-weight: 700;
			}
			span {
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
			}
		}
		a {
			display: inline-block;
			color: #999999;
		}
	}
}