.landingpage {
	padding-top: 96px;
}
.count-down {
	width: 100%;
	background-color: $white;
	box-shadow: 0px 2px 4px #00000029;
	overflow: hidden;
	margin-top: -120px;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	@media(max-width: 767px) {
		margin-top: -77px;
	}
	.desc {
		padding: 30px 30px;
		background-color: $primary;
		position: relative;
		text-align: left;
		width: 100%;
		max-width: 390px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 84px;
		text-align: center;
		@media(max-width: 1024px) {
			margin-right: 50px;
		}
		@media(max-width: 991px) {
			max-width: 260px;
			margin-right: 70px;
		}
		@media(max-width: 767px) {
			max-width: 160px;
			margin-right: 50px;
      padding: 5px 10px;
    }
		@media(max-width: 480px) {
			margin-right: 40px;
    }
		&::after {
			content: "";
			width: 50px;
			height: 200px;
			border-right: 4px solid #0555c7;
			background-color: $primary;
			position: absolute;
			top: -20px;
			right: -25px;
			@include rotate(18deg);
			@media(max-width: 991px) {
				right: -20px;
			}
			@media(max-width: 991px) {
				right: -17px;
			}
		}
		h2 {
			font-weight: 400;
			color: $white;
			margin-bottom: 11px;
			font-size: 30px;
			line-height: 48px;
			position: relative;
			z-index: 1;
			@media(max-width: 991px) {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 15px;
			}
			@media(max-width: 767px) {
				font-size: 13px;
				line-height: 24px;
				margin-bottom: 10px;
			}
			@media(max-width: 480px) {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
			}
		}
		p {
			color: #FAFAFA;
			font-size: 18px;
			@media(max-width: 767px) {
				font-size: 11px;
				line-height: 18px;
			}
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 11px;
			line-height: 41px;
			position: relative;
			z-index: 1;
			@media(max-width: 991px) {
				margin-bottom: 15px;
				line-height: 30px;
			}
			li {
				display: inline-block;
				vertical-align: middle;
				.day {
					color: #ffffff;
					font-size: 72px;
					font-weight: 700;
					margin-right: 15px;
					@media(max-width: 991px) {
						font-size: 48px;
						line-height: 48px;
					}
					@media(max-width: 767px) {
						font-size: 24px;
						line-height: 30px;
						margin-right: 5px;
					}
				}
				.date {
					color: #ffffff;
					font-size: 24px;
					line-height: 30px;
					font-weight: 500;
					@media(max-width: 991px) {
						font-size: 16px;
						line-height: 24px;
					}
					@media(max-width: 767px) {
						font-size: 12px;
						line-height: 18px;
					}
				}
				.time {
					color: #ffffff;
					font-size: 24px;
					line-height: 30px;
					font-weight: 500;
					span {
						margin-right: 30px;
						display: inline-block;
						&:last-child {
							margin-right: 0;
						}
					}
					@media(max-width: 991px) {
						font-size: 16px;
						line-height: 24px;
					}
					@media(max-width: 767px) {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.time-ramaning {
		display: inline-flex;
		vertical-align: top;
		width: 55%;
		align-items: center;
		h2 {
			font-weight: 400;
			font-size: 30px;
			line-height: 30px;
			margin-top: 20px;
			@media(max-width: 991px) {
				font-size: 18px;
				line-height: 24px;
			}
			@media(max-width: 767px) {
				font-size: 16px;
				line-height: 18px;
			}
			@media(max-width: 480px) {
				font-size: 14px;
				line-height: 18px;
				margin-left: 0px;
				margin-top: 5px;
			}
		}
		@media(max-width: 1024px) {
			width: 50%;
		}
		@media(max-width: 991px) {
			width: 50%;
		}
		@media(max-width: 767px) {
			width: 45%;
		}
		@media(max-width: 480px) {
			width: 36%;
		}
		#eventCountDown {
			width: 100%;
			display: flex;
			justify-content: space-between;
			@media(max-width: 991px) {
				width: 100%;
				vertical-align: middle;
				display: flex;
				justify-content: center;
			}
			@media(max-width: 767px) {
				margin-left: 16px;
			}
			@media(max-width: 480px) {
				margin-left: 28px;
			}
			.cd {
				min-width: 50px;
				height: auto;
				font-size: 72px;
				line-height: 72px;
				font-weight: 600;
				color: $black;
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin-right: 40px;
				margin-bottom: 30px;
				@media(max-width: 1024px) {
					font-size: 60px;
				}
				@media(max-width: 991px) {
					font-size: 40px;
					line-height: 30px;
				}
				@media(max-width: 767px) {
					font-size: 20px;
					line-height: 24px;
					margin-right: 10px;
					margin-bottom: 15px;
				}
				@media(max-width: 480px) {
					font-size: 12px;
					line-height: 14px;
					margin-right: -5px;
				}
				&::after {
					content: ":";
					font-size: 72px;
					font-weight: 600;
					display: inline-block;
					color: #999999;
					position: absolute;
					right: -48px;
					@media(max-width: 1024px) {
						font-size: 60px;
					}
					@media(max-width: 991px) {
						font-size: 40px;
						right: -22px;
					}
					@media(max-width: 767px) {
						font-size: 20px;
						right: 0px;
					}
					@media(max-width: 480px) {
						font-size: 12px;
						right: 18px;
					}
				}
				&:last-child {
					margin-right: 0;
					&::after {
						display: none;
					}
				}
				.label {
					position: absolute;
					bottom: -40px;
					left: 40%;
					font-size: 14px;
					@include translateX(-50%);
					@media(max-width: 767px) {
						font-size: 10px;
						bottom: -20px;
						left: 30%;
					}
					@media(max-width: 480px) {
						font-size: 8px;
						left: 20%;
						bottom: -12px;
					}
				}
			}
		}
	}
}
.event-wrapp {
	padding: 0 30px;
	.event {
		margin-bottom: 24px;
		label {
			color: #000000;
			font-size: 14px;
			font-weight: 700;
			line-height: 16px;
			font-family: 'Montserrat', sans-serif;
		}
		p {
			font-size: 18px;
			margin-bottom: 0;
			color: #000000;
			line-height: 24px;
			font-family: 'Montserrat', sans-serif;
			&.text-primary {
				font-size: 24px;
				font-weight: 800;
				line-height: 36px;
			}
			&.date {
				font-size: 18px;
				font-weight: 700;
			}
		}	
	}
}
.season {
	margin-bottom: 30px;
	.pict {
		position: relative;
		overflow: hidden;
		.card-title {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 10px 20px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 700;
			color: $white;
			z-index: 1;
		}
		&::after {
			content: "";
			width: 100%;
			height: 70%;
			background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.attr {
		display: inline-block;
		padding: 2px 4px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0.4);
		color: $white;
		text-transform: uppercase;
		font-size: 10px;
		position: absolute;
		top: 8px;
		left: 10px;
	}
	.card-body {
		background-color: #FAFAFA;
		box-shadow: 0px 1px 2px #0000002B;
		&::after {
			content: "";
			clear: both;
			display: block;
		}
		.avatar {
			width: 52px;
			height: 52px;
			border-radius: 300px;
			overflow: hidden;
			float: left;
			margin-right: 15px;
			img {
				max-width: 100%;
			}
		}
		.desc {
			overflow: hidden;
			text-align: left;
			h5 {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 4px;
				font-weight: 700;
			}
			span {
				font-size: 12px;
				font-weight: 600;
				color: #999999;
			}
		}
	}
	&.speaker {
		border-radius: 0;
		.pict {
			padding: 2px;
			border-radius: 0;
			background-color: #FAFAFA;
			&::after {
				display: none;
			}
		}
	}
}
.table-responsive {
	.table {
		min-width: 1024px;
	}
}
.table-price {
	margin-bottom: 30px;
	.price-wrapp {
		background: transparent linear-gradient(270deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
		padding: 20px;
		h3 {
			font-size: 24px;
			line-height: 48px;
			margin-bottom: 0;
			font-weight: 600;
			color: $white;
		}
		span {
			font-size: 14px;
			color: $white;
			line-height: 48px;
		}
		.price {
			display: block;
			font-size: 48px;
			line-height: 48px;
			color: #FAFAFA;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}
	.list-package {
		padding: 30px;
		background-color: $white;
		box-shadow: 0px 3px 6px #00000029;
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				position: relative;
				font-size: 14px;
				font-weight: 600;
				color: #000000;
				padding: 8px 0 8px 28px;
				border-bottom: 1px dashed #CCCCCC;
				> span {
					position: absolute;
					top: 8px;
					left: 0;
					color: $success;
					font-size: 18px;
					&.not-include {
						color: $danger;
					}
				}
			}
		}
	}
}

.pict-workshop {
	height: 100%;
	background-image: url('../images/season-6.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: transparent linear-gradient(90deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.4;
	}
}
.event-agenda {
	background-color: $white;
	.table {
		tbody {
			tr {
				td {
					padding: 30px 10px;
					&:first-child {
						width: 200px;
					}
					&:nth-child(2) {
						width: 470px;
					}
					h3 {
						font-size: 18px;
						line-height: 24px;
					}
					.time {
						font-size: 24px;
					}
					.summary {
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						margin-bottom: 0;
					}
					.avatar {
						width: 52px;
						height: 52px;
						border-radius: 300px;
						overflow: hidden;
						float: left;
						margin-right: 15px;
						img {
							max-width: 100%;
						}
					}
					.desc {
						overflow: hidden;
						h5 {
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 4px;
							font-weight: 600;
						}
						span {
							font-size: 12px;
							font-weight: 600;
							color: #999999;
						}
					}
					.material-icons {
						vertical-align: middle;
					}
					&:last-child {
						vertical-align: middle;
						> span {
							font-size: 12px;
						}
					}
					.live-now {
						width: 96px;
						height: 96px;
						border: 1px solid $success;
						line-height: 100px;
						position: relative;
						text-align: center;
						span {
							font-size: 32px;
							color: $success;
						}
						.status {
							background-color: $success;
							display: block;
							color: $white;
							position: absolute;
							font-size: 12px;
							line-height: 16px;
							text-transform: uppercase;
							text-align: center;
							font-weight: 600;
							left: 0;
							bottom: 0;
							width: 100%;
						}
					}
				}
				&:last-child {
					td {
						border-bottom: 1px solid #dee2e6;
					}
				}
			}
		}
	}
}
.separator-time {
	width: 15px;
	height: 1px;
	background-color: $black;
	display: inline-block;
	margin: 2px 0;
}
.about {
	padding: 30px;
	.about-content {
		padding-bottom: 20px;
		ul {
			padding-left: 18px;
			list-style: disc;
			li {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	h3 {
		font-size: 18px;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
	}
	p {
		margin-bottom: 15px;
		&.require {
			font-weight: 600;
		}
	}
	.resources {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		li {
			padding: 40px 0;
			border-bottom: 1px solid #CCCCCC;
			h3 {
				font-size: 18px;
				font-family: 'Montserrat', sans-serif;
				line-height: 24px;
				color: $primary;
			}
			.btn {
				font-size: 14px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				height: 48px;
				line-height: 30px;
				padding-left: 40px;
				padding-right: 40px;
				box-shadow: 0px 4px 4px #00000029;
				border-radius: 4px;
				span {
					vertical-align: middle;
					font-size: 18px;
					margin-right: 10px;
				}
			}
		}
	}
}